@{
    ViewData["Title"] = "Bem vindo";
    
}

<div class="text-center">
    <h1 class="display-4">@ViewData["title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
